<head>
    <title>Sergiu's Blog</title>
  </head>
  
  <h1 class="center">Please let a feedback</h1>
  <div class="form-group col-5" >
    <form [formGroup]="form">
      <div >
      <label>Feedback</label>
      <input type="text" formControlName="feedback" class="form-control">
      </div>
      <div>
      <label>Rating</label>
      <input type="text" formControlName="rating" class="form-control">
      </div>
    </form>
  </div>
  <button (click)="addFeedback()" mat-stroked-button color="primary">Add this feedback </button>
   