<head>
    <title>Sergiu's Blog</title>
  </head>
  <body>
    <div class="form-group-col-5"> 
  <h1>Please rate this report </h1>
  <div>
    <mat-card>
      <mat-card-content *ngIf="pinInfo">This report has {{pinInfo.rating}} points <br>
          There are {{pinInfo.numberOfFeedbacks}} feedbacks from other users <br>
          The average rating for this report is {{pinInfo.average}}
        </mat-card-content>
      </mat-card>
  </div>
  <div >
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Your rating</mat-label>
        <input matInput placeholder="1-10" type="number" formControlName="rating">
      </mat-form-field>
    </form>
  </div>
  <button (click)="addFeedback()" mat-stroked-button color="primary">Add this feedback </button>
    </div>
</body>