<h1 mat-dialog-title>Hi Sergiu</h1>
<div mat-dialog-content>
  <p>Please add a description</p>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
  <p>Please select an image</p>
  <mat-form-field>
    <mat-select [(ngModel)]="data.image3d">
      <mat-option value="Cube">Green Cube</mat-option>
      <mat-option value="Sphere">Red Sphere</mat-option>
      <mat-option value="Cone">Blue Cone</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Exit</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
