<html>
    <head>
        <title>AR.js Basic Projected Camera Example</title>
    </head>
    <body>
        <div style='position: fixed; top: 10px; width:100%; text-align: center; z-index: 1;'>
            <button>
                HIDE OBJECTS
            </button>
        </div>
    <a-scene
        vr-mode-ui="enabled: false"
        arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false;'
        renderer='antialias: true; alpha: true'>
            <a-camera gps-camera rotation-reader></a-camera>
            <a-box *ngIf="image==='box'" gps-entity-place='' material='color: green' scale='20 20 20'></a-box>
            <a-sphere *ngIf="image==='sphere'" gps-entity-place='' material='color:yellow' radius="5"></a-sphere>
        </a-scene>
    </body>
</html>