<html>
    <head>
        <title>AR.js Basic Projected Camera Example</title>
    </head>
    <body>
    <a-scene
        vr-mode-ui="enabled: false"
        arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false;'
        renderer='antialias: true; alpha: true'>
            <a-camera gps-projected-camera rotation-reader></a-camera>
            <a-box gps-projected-entity-place='latitude: 44.44; longitude: 26.05' material='color: red' scale='10 10 10'></a-box>
        </a-scene>
    </body>
</html>